/*.main {
		padding: 6em 0 4em 0 ;
	}*/

		.main.style1 {
			background: #fff;
		}

		.main.style2 {
			background-color: #333;
			color: rgba(255, 255, 255, 0.75);
			background-attachment: fixed,							fixed;
			background-image: url("images/overlay1.png"), url("../img/cookiehead.jpg");
			background-size: auto,							cover;
		}

		.main.style3 {
			background-color: #333;
			color: rgba(255, 255, 255, 0.75);
			background-attachment: fixed,							fixed;
			background-image: url("images/overlay1.png"), url("../img/head2.jpg");
			background-size: auto,							cover;
		}		

