<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" href="../css/bootstrap.css">
<link href="../css/creative.css" rel="stylesheet">
<link rel="stylesheet" href="../css/cookie_produit_panier.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container chunck">
        <a class="navbar-brand js-scroll-trigger chunck" href="#page-top">Cookies.Me</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#prod" style="font-size : 1.5em;">Produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#commandes" style="font-size : 1.5em;">Commandes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact" style="font-size : 1.5em;">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#shop" style="font-size : 1.5em;"><i class="fas fa-shopping-cart"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div class="container">
	<div class="row ">
		<div class="col-md-1"></div>
		<div class="col-md-10 white_box text-center">
			<div class="table-responsive">
				<table class="table" align="center !important">
					<thead align="center !important">
						<tr>
							<th>Produit</th>
							<th>Prix unitaire</th>
							<th>Quantité</th>
							<th>Prix TTL</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="text-center"><img src="../img/cookiechocb.png" style="width: 90px;height: 70px;"></td>
							<td class="text-center">2.50 €</td>
							<td class="text-center">
								<form action="">
									<input type="number" class="box chunck" name="quantity" min="0" max="10" step="1" value="1" style="font-size: 20px;  border-radius: 6px; border-color: #648abb; color:#648abb;">
								</form>
							</td>
							<td class="text-center">5 €</td>
						</tr>
						<tr>
							<td class="text-center"><img src="../img/cookienature.png" style="width: 90px;height: 70px;"></td>
							<td class="text-center">2.50 €</td>
							<td class="text-center">
								<form action="">
									<input type="number" class="box chunck" name="quantity" min="0" max="10" step="1" value="1" style="font-size: 20px;  border-radius: 6px; border-color: #648abb; color:#648abb;">
								</form>
							</td>
							<td class="text-center">5 €</td>
						</tr>
						<tr>
							<td class="text-center"><img src="../img/cookiemyrt.png" style="width: 90px;height: 70px;"></td>
							<td class="text-center">2.50 €</td>
							<td class="text-center">
								<form action="">
									<input type="number" class="box chunck" name="quantity" min="0" max="10" step="1" value="1" style="font-size: 20px;  border-radius: 6px; border-color: #648abb; color:#648abb;">
								</form>
							</td>
							<td class="text-center">5 €</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 text-center">
					<b>Total:</b>
					<!--<input type="text" name="lastname">-->
					</br></br>
					<div class="intro-button mx-auto">
						<a class="btn btn-primary btn-xl js-scroll-trigger chunck" href=""> <span class="chunck">Valider le panier</span></a>
					</div></br>
					<a href=""> Supprimer le panier</a>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		<div class="col-md-1"></div>		
	</div>
	
</div>

</body>
</html>