<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="./img/icon-cookie.png">
    <title>Cookie Shop</title>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/cookie_ins_conne.css">
<body>
<div class="container">
    <h2 class="chunck h2_connexion">CONNEXION</h2>
    <form action="#" th:action="@{/connexion}" th:object="${userForm}" method="post">

        <!-- Email -->
        <div class="form-group row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <input type="email" class="form-control field" id="email" placeholder="Email" name="email"
                       th:field="*{email}">
            </div>
            <div class="col-lg-4"></div>
        </div>

        <!-- Mot de passe -->
        <div class="form-group row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <input type="password" class="form-control field  mdp_margin" id="mdp" placeholder="Mot de passe"
                       name="mdp" th:field="*{password}">
                <input type="checkbox" class="mdp_font_color" onclick="functionMDP()"> Voir mon mot de passe
            </div>
            <div class="col-lg-4"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-primary">Je me connecte !</button>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center">
                <a href="inscription">
                    Toujours pas inscrit ? </br>Rejoins la communauté des cookers !
                </a>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </form>
</div>
</body>
<script>
function functionMDP() {
    var x = document.getElementById("mdp");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>
</html>