<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="./img/icon-cookie.png">
    <title>Cookie Shop</title>
</head>
<link rel="stylesheet" href="../css/bootstrap.css">
<link href="../css/creative.css" rel="stylesheet">
<link rel="stylesheet" href="../css/cookie_produit_panier.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container chunck">
        <a class="navbar-brand js-scroll-trigger chunck" href="/accueil">Cookies.Me</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/accueil#prod" style="font-size : 1.5em;">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/atelier" style="font-size : 1.5em;">Atelier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/accueil#contact" style="font-size : 1.5em;">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/panier" style="font-size : 1.5em;"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    
    <!-- Cookie description -->
    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-10 blue_box">
            <div class="row">
                <div class="col-md-5 vcenter">
                    <img src="../img/cookiemyrt.png" style="width: 100%"></br></br>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <b class="white">Ingredients:</b> <br>
                    <ul class="white">
                        <li>75 ml d’huile végétale</li>
                        <li>175 ml de sucre</li>
                        <li>1 oeuf</li>
                        <li>1 cuillère à thé de poudre à pâte</li>
                        <li>250 ml de farine</li>
                        <li>1 pincée de sel</li>
                        <li>Pépites de myrtilles en ABONDANCE</li>
                    </ul>
                    <p class="white">Ces cookies seront appréciés au dessert avec une glace à la vanille, mais aussi au petit déjeuner avec un bol de lait.</p>

                </div>
            </div>

            <!-- Button add cookie -->
            <div class="row">
                <div class="col-lg-5 white text-center">
                    <a class="chunck" style="font-size: 32px;">2,00 €</a>
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-6">
                    <form action="#" th:action="@{/productM}" th:object="${productFormM}" method="post">
                        <input type="number" class="box chunck" name="quantity" min="1" max="10" step="1" value="1" style="font-size: 20px;  border-radius: 6px; border-color: #648abb; color:#648abb;">
                        <button type="submit" class="btn btn-primary js-scroll-trigger chunck" style="font-family: 'chunkfive print';">Ajouter au panier</button>
                    </form><br>
                </div>
            </div>

            <!-- Link to products -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center" style="padding-top: 30px;">
                    <a href="/accueil#prod" style="color:white;"> Voir les autres produits</a><br>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

</body>
</html>