<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./img/icon-cookie.png">
    <title>Cookie Shop</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/cookie_inscription.css">

</head>
<body style="background-color:'rgb(100, 138, 187, 0.70) !important;">

<div class="container">

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <a href="connexion" style="color: blue">
                Try again !
            </a>
        </div>

        <div class="col-lg-4"></div>
    </div>

    <h2 class="chunck" style="margin-top : 8em;">Oh non !<br>Tu t'es trompe de combinaison adresse mail / mot de passe
    </h2>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img src="../img/oopscookie.png" style="width: 100%;">
        </div>
        <div class="col-md-4"></div>
    </div>

</div>

</body>
</html>